<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/baseLayout}"
>
<th:block layout:fragment="title">
  <title>login</title>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>
<th:block layout:fragment="javascript">
  <script th:src="@{/js/login}"></script>
</th:block>
<th:block layout:fragment="container">
 <div class="container">
   <div class="login">
     <div class="login-con">
       <form th:action="@{/member/login}" method="post">
         email: <input type="email" name="email" id="email"> <br>
         pw: <input type="password" name="pw" id="pw"> <br>
         <input type="submit" value="로그인">
       </form>
     </div>
   </div>
 </div>
</th:block>
</html>